
.vs/tsp-metaheuristic/v15/Browse.VC.db
.vs/tsp-metaheuristic/v15/Browse.VC.opendb
.vs/tsp-metaheuristic/v15/.suo



tsp-metaheuristic/testData/sprawozdanie.docx
tsp-metaheuristic/testData/~$testsExcel.xlsx
tsp-metaheuristic/testData/testsExcel.xlsx
